<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl font-bold mb-6">
    <%= params[:action].capitalize %> Evaluations
  </h1>

  <% if @evaluations.any? %>
    <ul class="space-y-4">
      <% @evaluations.each do |evaluation| %>
        <li class="bg-white shadow rounded-lg p-4">
          <h2 class="text-xl font-semibold">
            <%= link_to evaluation.constituent.full_name, evaluators_evaluation_path(evaluation) %>
          </h2>
          <p>Status: <%= evaluation.status.capitalize %></p>
          <p>Type: <%= evaluation.evaluation_type.capitalize %></p>
          <p> Evaluation Date: <%= evaluation.evaluation_date&.strftime("%B %d, %Y") || "No evaluation date" %> </p>

          <!-- Add more fields as necessary -->
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="text-gray-600">No evaluations found.</p>
  <% end %>
</div>
