<div>
  <div data-controller="reports-chart" 
       data-reports-chart-current-data-value="<%= data.to_json %>"
       data-reports-chart-previous-data-value="<%= {}.to_json %>"
       data-reports-chart-type-value="bar"
       data-reports-chart-title-value="Application Pipeline"
       data-reports-chart-hidden-class="hidden"
       style="position: relative; height: 300px; width: 100%;">
    <div class="sr-only" aria-labelledby="pipeline-heading">
      Chart showing application pipeline: <%= data['Submitted'] || 0 %> submitted, <%= data['In Review'] || 0 %> in review, and <%= data['Approved'] || 0 %> approved applications.
    </div>
  </div>
</div>
