<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maryland Accessible Telecommunications Program</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Tailwind CSS and Javascript-->
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track" => "reload", defer: true %>

    <style>
      /* Custom focus outline for better visibility */
      a:focus, button:focus {
        outline: 2px solid #4a90e2;
        outline-offset: 2px;
      }
    </style>
  </head>
  
  <body class="font-sans antialiased bg-gray-50">
    <%= render "shared/header" %>
    <%= render "layouts/flash" %>
    
    <main>
      <%= yield %>
    </main>
  </body>
</html>